<div id="page-content">  
  <div class="container" id="home-container">
    <div class="mt-4 p-5 text-black rounded text-center">
        <h1 class="display-4">ALPHA BLOG</h1>
        <p class="my-4">This is a simple blog to keep your thoughts and memories.</p>
        <a href="#" class="btn btn-dark">Somewhere</a>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Skye", "https://github.com/SkyeScarlett", class: "text-white" %> </small>
  </div>
</footer>