<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Skye", "https://github.com/SkyeScarlett", class: "text-white" %> </small>
  </div>
</footer>